<a href="https://colab.research.google.com/github/EMERSON06/ACT-18-AND-FINALEXAM19/blob/main/FINALEXAM19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [4]:
filename = '/content/drive/MyDrive/titanic.csv'
df = pd.read_csv(filename)

In [6]:
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [7]:
survival_percentage = df['Survived'].mean() * 100
print("\nPercentage of people who survived: {:.2f}%".format(survival_percentage))

Percentage of people who survived: 38.38%

In [8]:
sex_survival_count = df.groupby('Sex')['Survived'].sum()
print("\nNumber of survivors by sex:")
print(sex_survival_count)

Number of survivors by sex:
Sex
female    233
male      109
Name: Survived, dtype: int64

In [9]:
cheap_ticket_survival_percentage = (df[df['Fare'] < 10]['Survived'].mean()) * 100
print("\nPercentage of passengers who paid less than $10 and survived: {:.2f}%".format(cheap_ticket_survival_percentage))

Percentage of passengers who paid less than $10 and survived: 19.94%

In [10]:
average_age_not_survived = df[df['Survived'] == 0]['Age'].mean()
print("\nAverage age of those who didn't survive: {:.2f}".format(average_age_not_survived))

Average age of those who didn't survive: 30.63

In [11]:
average_age_survived = df[df['Survived'] == 1]['Age'].mean()
print("\nAverage age of those who did survive: {:.2f}".format(average_age_survived))

Average age of those who did survive: 28.34

In [14]:
average_age_by_survival_and_sex = df.groupby(['Survived', 'Sex'])['Age'].mean()
print("\nAverage age of those who did and didn't survive grouped by Sex:")
print(average_age_by_survival_and_sex)

Average age of those who did and didn't survive grouped by Sex:
Survived  Sex
0         female    25.046875
          male      31.618056
1         female    28.847716
          male      27.276022
Name: Age, dtype: float64